
<!-- app/views/reports/index.html.erb -->
<h1>Generate Report</h1>

<%= form_with(url: report_path(id: 'show'), method: :get) do |form| %>

    <%= form.label :account_id, 'Select Account' %>
    <%= form.collection_select :account_id, @accounts, :id, :name %>
  


    <%= form.label :from_date, 'From Date' %>
    <%= form.date_field :from_date %>



    <%= form.label :to_date, 'To Date' %>
    <%= form.date_field :to_date %>



    <%= form.submit 'Generate Report' %>

<% end %>
          <td><%= link_to 'Back', companies_path, class: 'btn btn-primary' %></td>
