<!-- app/views/reports/show.html.erb -->
<h1>Report for Account: <%= @account.name %></h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Payment ID</th>
      <th scope="col">Sender Amount</th>
      <th scope="col">Receiver Amount</th>
      <th scope="col">Receiver</th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
    
      <tr>
        <td><%= payment.id %></td>
        
         <td><%= payment.sender_amount %></td>
        <td><%= payment.receiver_amount %></td>
        <td><%= payment.receiver.name %></td> 
          

      </tr>
    <% end %>
<p>Closing Balance: <%= @closing_balance %></p>
<p>opening_balance: <%= @opening_balance %></p>

  </tbody>
</table>


<%= link_to 'Back to Reports', reports_path, class: 'btn btn-primary' %>
